// Put any @imports here
// See Readme for a list of supported ones
@import 'foundation';
@import "font-awesome";

body {
  background : #B7E1DF;
  position:relative;
  font-size: 87.5%;
}

.hello{
  background-color:none;
  z-index :1;
  position:absolute;
  top :40%;
  left:7%;
  animation-name: hello;
  animation-duration: 3s;
}
@keyframes hello {
    0%   {background-color:none; left:0%; top:0%;}
    100%  {background-color:none; left: 7%; top:40%; }
}

.logo{
  position:absolute;
  display: inline-block;
  width :60px;
  top :-7px;
  left: 15px;
}

.title{
  background-color:none;
  font-family: 'Old Standard TT', serif;
  position:absolute;
  top :58%;
  left:9%;
  animation-name: title1;
  animation-duration: 0.5s;
}
@keyframes title1{
    0%   {background-color:none; left:0%; top:58%;}
    100%  {background-color:none; left: 9%; top:58%; }
}


//HEADER

.name h1 a{
  color :#D9FFFF !important;
  font-size : 1.5em;
  font-family: 'Old Standard TT', serif;
}

nav {
  width :100%;
  position: relative;
}

nav .right{
  width: 39%;
  position :absolute;
  left:1%;
  margin-left: 60%;
}

nav .right li{
   display: inline-block;
   padding: 1%;
   font-size: 87.5%;
 } 

nav .right li a{
  padding-right: 46%;
 color: #C7C1A7 !important; 
}

nav .right li a:hover{
 color: #FBF7E3 !important; 
}

h4{
  text-align : center;
  color :grey;
  font-size :3em;
  font-family: 'Lora', serif;
}

// FA ICONS
.faIcons{
  position: absolute;
  top: 20% !important;
  box-sizing: border-box;
  right: 5%;
  width: 10%;

  .fa{
   // position :fixed;
    padding-left:2%;
    color:grey;

  }
}

//FRILL
.frill{
  position:relative;
  width:60%;
  margin-top:2%;
  height: 150px;

  .frill-title{
    position :absolute;
    top:18%;
    left: 17%;
    font-size: 1em;
  }
}



//ABOUT
.aboutPage{
  //background: url('../images/bg.png');
 background-position:center;
  padding-bottom : 5%;
  position : relative;
}

.aboutPage .faIcons{
    position: absolute;
    top: 6% !important;
    right: -5%;
    width: 20%;
}

.about{
  display:inline-block;
  width : 100%;
  margin: 5% auto;

  .me{
    width :39%;
   // float :left;
    display: inline-block;
    margin-left :5%;
    padding-top:0;
    margin-top :5%;
    padding-right:5%;

  }
  .aboutImg{
    display:inline-block;
    border:none;

  }
  .aboutImg img{
    position: absolute;
    width: 225px;
    height: 250px;
    overflow: hidden;
    top: 32%;
    border-radius: 5%;
    //transform: rotate(90deg);
    border :2px solid #FBF7E3;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }

  .aboutImg :hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
  
  .sign{
    width:25%;
  }

}
//RESUME
.resumePage{
  margin-top:-25px;
  padding-top :2%;
  //background: url('../images/bg.png');
  padding-bottom : 5%;
}
.pdfFile{
  display : block;
  height : 50%;
}
.skillSet{
  width:80%;
}
.skillHeader{
  padding : 5%;
  text-align: center;
  margin-right:0%;
  font-weight: 600;
  color : #768A85;
  box-sizing:border-box;
}
.skills{
  margin: 10%;
  width:auto;
  //border : 1px solid blue;
  display : block;
  width : 100%;
}
.first{
    //width: 100%;
    width:auto;
    margin-right: 0%;
    box-sizing:border-box;
}
.second{
  //width: 100%;
  margin-right: 0%;
  box-sizing:border-box;
}

.skills img{
  margin :2%;
  width :8%;
}

.resumeContainer{
  position :relative;

}
.resume{
  border :0.4em solid #768A85;
  width :80%;
  margin:10% ;
}
#b3{ // DOWNLOAD RESUME BUTTON
  position:absolute;
  top:-30%;
  left :32%;
  margin:2% 5% 5% 10%;
  color:#768A85;
  background:#fff!important; 
  border:0.1em solid #768A85;
  border-radius :10px;
  font-family: 'Raleway', sans-serif;
}

//PROJECTS ..WORK LIST

.workPage{
  margin-top:-25px;
  padding-top :2%;
 // background: url('../images/bg.png');
  //background-repeat-y: no-repeat;
  padding-bottom : 5%;
}

.workMain{
  width :100%;
}

ul{
  width: 100%;
  list-style :none;
  padding-left :5%;
}
.allDetails{
  display:inline-block;
  margin : 2% auto;
  //width: 44%;
  //transform :rotate(45deg);
}
.mylist{
  //border:0.5em solid white;;
  display : inline-block;
  width:44%;    
  // margin : 1% 0 0 5%;
  margin-right:5%;
  vertical-align:top;
}

.projectImg img{
  display:inline-block;
  border :0.4em solid #768A85;
  width:100%;
  height:350px;
  overflow:hidden;
  margin :0 auto;
  position: relative;
}
.projectImg:hover .overlay{
  visibility: visible;
  height :350px;
  background :#023;
  opacity :0.7;
  transition: opacity 1.8s ease-in-out;
 transform: translateY(-350px);


}

.overlay{
  //display :none;
  position : absolute;
  visibility: hidden;
  width:42%;
}
.overlayText h3{
 color : green;
  opacity : 0.9;
  font-weight: 600;
  padding-top :30%;
  text-align: center;
  
  
  a:hover{
    color: #B7E1DF;
    font-size: 1em;
    font-family:'Raleway', sans-serif;

  }
}


.btn{
  //width:10%;
  padding:5% 28%;
  display: inline-block; 
  vertical-align:center;
}
#b1,#b2{
  color:#768A85;
  font-size: 0.9em;
  //color:black; 
  background:#fff !important; 
  border:0.1em solid #768A85;
  border-radius :10px;
  //margin:2% 1% 5% 10%;
  font-family: 'Raleway', sans-serif;
} 

#b1:hover , #b2:hover{
  font-weight:bold;
  font-style:italic;
  font-family: 'Raleway', sans-serif;
}

.projectInfo{
  display : inline-block;
  height:45px;
  margin: 2% auto;
  font-family: 'Lobster', cursive;
  vertical-align:top; 
  font-size:1em;
}

h5{
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
}

label{
  font-size:0.9em;
  margin-bottom:2%;
  line-height:100%;
  width:100%;
  font-family: 'Raleway', sans-serif;
  height:30px;
  //color: #768A85;
  color:black;
}

// #l2{
//   font-weight:600;
//   color:black;
// }



//ART

.main{
  display : inline-block;
  margin-left: 5%;
  color:#768A85;
  font-family: 'Raleway', sans-serif;

  p{
    width :90%;
  }
}
.art-main{
  margin : 7% auto;
}


.art{
  width :30%;
  height:300px;
  margin :0.5%;
  border :0.4em solid #FBF7E3;
}


//FOOTER 
footer{
  padding:10% 10%;
  width :100%;
  overflow:auto;
  //margin: -19px 0 0 0;
  font-size:0.9em;
  background:#333333;
  font-family: 'Lora', serif;
  position :absolute;
}


.footer-list{
  list-style:none;
  padding-left: 10%;
 
}
.footer-list li{
  display: inline-block;
  margin : 10px 20px;
  color :#D9FFFF;
}

.footer-list a{
  font-size : 0.9em;
  color :#D9FFFF;
  font-family: 'Lora', serif;
}

.footer-text{
  text-decoration :none;
  font-size:0.9em;
  //color :#FBF7E3;
}

.footer-list a:hover{
  color:#FFF;
}
.foo-heading{
  padding-bottom: 3%;
  text-align : center;
  color :#D9FFFF;
  font-size :3em;
  font-family: 'Lora', serif;
}

.copyright{
  width :100%;
  color:#fff;
  background: #000;
  text-align: center;
  margin-top: 37%;
  padding: 2%;
  z-index: 1;
  margin-bottom: 0%;
}


// ==================================================================
//RESPONSIVE FOR IPAD AND IPAD MINI

@media all and (min-width:651px) and (max-width:1024px){
  
  body{
    width:100%;
    height:auto;
  }
  //HOME PAGE
  .hello{
    width: 95%;
    background-color:none;
    z-index :1;
    position:absolute;
    top :30%;
    left:3%;
    animation-name: hello;
    animation-duration: 3s;
  }
  @keyframes hello {
      0%   {background-color:none; left:0%; top:0%;}
      100%  {background-color:none; left: 3%; top:30%; }
  }

    .home{
      background-size:cover;
    }

    .logo{
    width :8%;
    top :-27% !important;
    left: 1%;
}
  .title{
    background-color:none;
    font-family: 'Old Standard TT', serif;
   // background-image:url('./images/title.png');
    width:87%;
    position:absolute;
    top :42%;
    left:3%;
    animation-name: title1;
    animation-duration: 0.5s;
  }
  @keyframes title1{
      0%   {background-color:none; left:0%; top:42%;}
      100%  {background-color:none; left: 3%; top:42%; }
  }

  //header NAV BAR
  nav{
    width:100% !important;
  }
  nav .right{
  width: 49%;
  position :absolute;
  left:1%;
  margin-left: 50%;
}


// FA ICONS.. RWD

.workPage .faIcons{
  position:absolute !important;
  right:3% !important;
  top :2% !important;
  width : 20%;
}
.contactPage .faIcons{
  position:absolute !important;
  right:3% !important;
  top :33% !important;
  width : 20%;
}
.resumePage .faIcons{
  position:absolute !important;
  right:3% !important;
  top :6.5% !important;
  width : 20%;
}
.aboutPage .faIcons{
  position:absolute !important;
  right:3% !important;
  top :9% !important;
  width : 20%;
}
.hobbiesPage .faIcons{
  position:absolute !important;
  right:3% !important;
  top :4.4% !important;
  width : 20%;
}

// .faIcons{
//   position:absolute !important;
//   right:3% !important;
//   top :10% !important;
//   width : 20%;
//}
  .fa{
    padding-left:1%;
    color:grey;
  }

.frill{
  position:relative;
  margin-top:2%;
  width: 150px;
}
.resumePage .frill, .workPage .frill{
  margin-top : 3%;
}
  //FRILL TITLE
  .contactPage .frill-title, .aboutPage .frill-title, .workPage .frill-title, .resumePage .frill-title{
  width:100%;
  position :absolute;
  top:15% !important;
  left:25% !important;
  font-size: 1em;
}

.resumePage .frill-title{
  left:30% !important;
}

.hobbiesPage .frill-title{
  top:15%;
  left : 45%;
  width:100%;
}
  //RESUME ...RWD

  #b3{
  position:absolute;
  top:0% !important;
  left :30% !important;
  margin:2% 5% 15% 10% !important;
  color:#768A85;
  background:#fff!important; 
  border:0.1em solid #768A85;
  border-radius :10px;
  font-size: 0.9em;
  font-family: 'Raleway', sans-serif;
}

//ABOUT
 .me p{
    //border :1px solid red;
    width :300px;
    display: block;
    margin-left :5%;
    padding-top:0;
    margin-top :5%;
    color : #768A85;
    font-size: 97.5%;
  }
  .aboutImg{
 
    width :228px !important;
    display :block;
    margin-top: 10%;
    border :0.4em solid #FBF7E3;
  
    img {
      width:228px;
      display: inline-block;
      vertical-align: middle;
      height:228px !important;
   }
  }
  //WORK ...RWD


.workPage{
  margin-top:-25px;
  margin-left: 0 !important;
  padding-top :2%;
  //background: url('../images/bg.png');
  //background-repeat-y: no-repeat;
  padding-bottom : 5%;
}

ul{
  list-style :none;
  padding-left :5%;
}
.mylist{
  display :block;
  width:100%;
  margin: 0 auto;
  vertical-align:top;
}
.allDetails{
  width :98%;
  display:inline-block;
  margin : 0 6% !important;
}

#b1{
  margin-left: 20% !important; 
}

#b1,#b2{
  color:#768A85;
  font-size: 0.9em; 
  background:#fff !important; 
  border:0.1em solid #768A85;
  border-radius :10px;
  margin:5% auto;
  font-family: 'Raleway', sans-serif;
} 


.projectInfo{
  display : inline-block;
  height:45px;
  margin: 1% auto;
  font-family: 'Lobster', cursive;
  vertical-align:top; 
  font-size:0.9em;
}



.projectImg img{
    display: inline-block;
    border: 0.4em solid #768A85;
    width: 80%;
    height: 350px;
    overflow: hidden;
}

.overlay{
  //display :none;
  position : absolute;
  visibility: hidden;
  width:42%;
}
.overlayText h3{
  display: none;
  color : green;
  opacity : 0.9;
  font-weight: 600;
  padding-top :30%;
  text-align: center;
  
  
  a:hover{
    display: none;
    color: #B7E1DF;
    font-size: 1em;
    font-family:'Raleway', sans-serif;

  }
}

h5{
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
}

label{
  font-size:0.9em;
  margin-bottom:2%;
  line-height:100%;
  width:100%;
  font-family: 'Raleway', sans-serif;
  height:30px;
  //color: #768A85;
  color:black;
}

#l2{
  font-weight:600;
  color:black;
}


  //FOOTER 
  footer{
    padding:10% 10%;
    width :100%;
    overflow:auto;
    font-size:0.9em;
    background:#333333;
    font-family: 'Lora', serif;
    position :absolute;
    padding-bottom : 50%;
    padding-top :25%;

  }


  .footer-list{
    list-style:none;
    padding-left: 10%;
   
  }
  .footer-list li{
    width:100%;
    display: inline-block;
    margin : 10px 20px;
    color :#D9FFFF;
    font-size: 60%;
  }

  .footer-list a{
    font-size : 0.9em;
    color :#D9FFFF;
    font-family: 'Lora', serif;
  }

  .footer-text{
    text-decoration :none;
    font-size:0.9em;
    //color :#FBF7E3;
  }

  .footer-list a:hover{
    color:#FFF;
  }
  .foo-heading{
    padding-bottom: 3%;
    text-align : center;
    color :#D9FFFF;
    font-size :3em;
    font-family: 'Lora', serif;
  }


}
//=====================================================================
//RESPONSIVE WD.... FOR IPHONE AND ANDROID.

@media all and (min-width : 150px) and (max-width:650px){

  .hello{
    background-color:none;
    z-index :1;
    position:absolute;
    top :20%;
    left:4%;
    animation-name: hello;
    animation-duration: 3s;
  }
  @keyframes hello {
      0%   {background-color:none; left:0%; top:0%;}
      100%  {background-color:none; left: 4%; top:20%; }
  }

  .logo{

    width :8%;
    top :15%;
    left: 1%;
}

  .title{
    background-color:none;
    font-family: 'Old Standard TT', serif;
   // background-image:url('./images/title.png');
    width:90%;
    position:absolute;
    top :25%;
    left:4%;
    animation-name: title1;
    animation-duration: 0.5s;
  }
  @keyframes title1{
      0%   {background-color:none; left:0%; top:25%;}
      100%  {background-color:none; left: 4%; top:25%; }
  }


// FA ICONS.. RWD
.faIcons{
  //display: block; 
  position:absolute;
  top :10% !important;
  right: -8%;
  width :50%;

  .fa{
    padding-left:1%;
    color:grey;

  }
}

//HEADER ..RWD


nav{
//  position : fixed;
  height :auto;
  width: 100%;
}
nav .right{
  width :100%;
  padding:2%;
  display:block;
  margin-left:20%;
}

nav .right li{
}
nav .right li a{
  font-size: 80%;

  
}


//FRILL..RWD

.frill{
  position:relative;
  margin-top:2%;
  width: 150px;
}

.resumePage .frill, .workPage .frill{
  margin-top : 7%;
}

  .frill-title{
    width:100%;
    position :absolute;
    top:30% !important;
    left:35% !important;
    font-size: 1em;
  }
  .contactPage .frill-title, .aboutPage .frill-title, .workPage .frill-title, .resumePage .frill-title{
  width:100%;
  position :absolute;
  top:30% !important;
  left:10% !important;
  font-size: 1em;
}

.resumePage .frill-title{
  left:15% !important;
}

  //RESUME ...RWD

  #b3{
  position:absolute;
  top:-5% !important;
  left :15%;
  margin:2% 5% 15% 10% !important;
  color:#768A85;
  background:#fff!important; 
  border:0.1em solid #768A85;
  border-radius :10px;
  font-family: 'Raleway', sans-serif;
}

  //ABOUT.....RWD

.aboutPage{
  //background: url('../images/bg.png');
  background-position:center;
  padding-bottom : 5%;
  
}


.about{
  display:inline-block;
  width :100% ;
  margin: 5% auto;
}

  .me p{
    //border :1px solid red;
    width :300px;
    display: block;
    margin-left :5%;
    padding-top:0;
    margin-top :5%;
    color : #768A85;
    font-size: 80%;
  }
  .aboutImg{
 
    width :300px !important;
    // vertical-align:top;
    display :block;
    border :0.4em solid #FBF7E3;
    
  }
  
  .sign{
    display: none;
    
  }

  //WORK ...RWD


.workPage{
  margin-top:-25px;
  margin-left: 0 !important;
  padding-top :2%;
  //background: url('../images/bg.png');
  //background-repeat-y: no-repeat;
  padding-bottom : 5%;
}

ul{
  list-style :none;
  padding-left :5%;
}
.mylist{
    //border:0.5em solid white;;
    display :block;
     width:100%;
  // margin : 1% 0 0 5%;
  margin: 0 3% 0 -5%;
    vertical-align:top;
}
.allDetails{
  width :98%;
  display:inline-block;
  margin : 0 auto;
  //transform :rotate(45deg);
}

#b1,#b2{
  color:#768A85;
  font-size: 0.9em; 
  background:#fff !important; 
  border:0.1em solid #768A85;
  border-radius :10px;
  //padding :5%;
  margin:5% auto;
  font-family: 'Raleway', sans-serif;
} 


.projectInfo{
  display : inline-block;
  height:45px;
  margin: 1% auto;
  font-family: 'Lobster', cursive;
  vertical-align:top; 
  font-size:0.9em;
}

.overlay{
  //display :none;
  position : absolute;
  visibility: hidden;
  width:42%;
}
.overlayText h3{
  display: none;
  color : green;
  opacity : 0.9;
  font-weight: 600;
  padding-top :30%;
  text-align: center;
  
  
  a:hover{
    display: none;
    color: #B7E1DF;
    font-size: 1em;
    font-family:'Raleway', sans-serif;

  }
}


h5{
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
}

label{
  font-size:0.9em;
  margin-bottom:2%;
  line-height:100%;
  width:100%;
  font-family: 'Raleway', sans-serif;
  height:30px;
  //color: #768A85;
  color:black;
}

#l2{
  font-weight:600;
  color:black;
}




  //ART ..RWD
  .main{
  display : inline-block;
  margin-left: 5%;
  color:#768A85;
  font-family: 'Raleway', sans-serif;

  p{
    width :90%;
    font-size: 87.5%;
  }
}
// .art-main{
//   margin : 7% auto;
// }


  .art{
    width :30%;
    height:100px;
  }


    //FOOTER ..RWD

    footer{
      font-size:60%;
      margin-bottom: 12%;
    }


  .footer-list{
    list-style:none;
    //padding-left: 10px !important;
  }

  .footer-list a{
    //display: none;
    font-size : 40%;
  }

}