// Put any @imports here
// See Readme for a list of supported ones
@import 'foundation';
@import "font-awesome";

//HEADER

.name h1 a{
  color :#C7C1A7 !important;
  font-size : 2em;
  font-family: 'Old Standard TT', serif;
}

.right li a{
 color: #C7C1A7 !important; 
}

.right li a:hover{
 color: #768A85 !important; 
}

h4{
  text-align : center;
  color :grey;
  font-size :3em;
  font-family: 'Lora', serif;
}


body {

  // background-image:url('../images/7999013036_b9cdfe036f_b.jpg');
  // background-repeat:no-repeat;
  // background-size :100% 3000px;
  background : #C7C1A6;
  font-family: 'Old Standard TT', serif;
  position:relative;
}


//PROJECTS ..WORKS LIST
ul{
  list-style :none;
}
.mylist{
    //border:1px solid brown;
    display : inline-block;
     width:50%;
  // margin : 1% 5% 0 0;
    vertical-align:top;
}
.allDetails{
  width :100%;
  display:inline-block;
  margin : 2% auto;
  //transform :rotate(45deg);
}

.projectImg img{
  display:inline-block;
  max-width:100%;
  height:350px;
  overflow:hidden;
  margin :0 auto;
}

.btn{
  width:100%;
  margin: 2% auto;
  display: inline-block; 
}
#b1,#b2{
  color:#768A85; 
  background:none !important; 
  border:1px solid #768A85;
  border-radius :10px;
} 

#b1:hover , #b2:hover{
  font-weight:bold;
  font-style:italic;
}

.projectInfo{
  display : inline-block;
  //margin: 2% auto;
  font-family: 'Lobster', cursive;
  vertical-align:top; 
  font-size:1em;
}

h5{
  font-family: 'Lobster', cursive;
  font-size: 1.2em;
}

label{
  font-size:0.9em;
  width:100%;
  font-family: 'Old Standard TT', serif;
  height:45px;
  color: #768A85;
}

//ART

.main{
  display : inline-block;
  margin-left: 5%;
}

.art{
  width :30%;
  height:300px;
  margin :0.5%;
}
// .art:hover{
//   width:400px;
//   height:400px;
// }

//FOOTER 
footer{
  width :100%;
  //height:250px;
  overflow:auto;
  //margin: -19px 0 0 0;
  background:#768A85;
  font-family: 'Lora', serif;
  position :absolute;
}
// p{
//   height : 20px;
// }

.footer-list{
  list-style:none;
 
}
.footer-list li{
  margin : 10px 20px;
  color :#C7C1A7;
}

.footer-list a{
  margin-left : 20px;
  font-size : 0.9em;
  color :#C7C1A7;
  font-family: 'Lora', serif;

}

.footer-text{
  text-decoration :none;
  //color :#FBF7E3;
}

.footer-list a:hover{
  color:#FBF7E3;
}
.foo-heading{
  text-align : center;
  color :#FBF7E3;
  font-size :3em;
  font-family: 'Lora', serif;
}