<div class='aboutPage'>
  <div class ='frill'>
    <img src="./images/titlefrill.png">
    <h4 class='frill-title'>About</h4>
  </div>

  <div class="faIcons">  
    <a href="mailto:shalmali.padgaokar@gmail.com" target ="_blank"><i class="fa fa-envelope fa-2x" ></i></a>  

    <a href="https://www.linkedin.com/in/shalmali-padgaokar-99a570b"  alt ="https://www.linkedin.com/shalmalidp" target ="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>


    <a href="https://github.com/Shalmalidp" target ="_blank"><i class="fa fa-github-square fa-2x"></i></a>


    <a href="https://twitter.com/ShalmaliDp" target ="_blank"><i class="fa fa-twitter-square fa-2x"> </i></a>    
  </div>
  <hr>

  <div class ="about">
    <div class="me"> 
      <p>Hi I'm Shalmali.</p>
      <p> I love to design  a little creative and build everything for form and function, started with customised card and diaper cakes and now focusing my time on creating web apps.  I spent the last 3 months building my front end engineering skills at The Iron Yard, Atlanta and am ready to jump into the world of beautiful and elegant design.</p>

      <p>When I am not building websites I am trying out new ideas in the kitchen, going to my daughter's basketball games and driving my husband crazy.</p>
      <img class = 'sign' src="./images/sig.png">
    </div> 
    
    <div class="aboutImg">
      <img ng-src="./images/meee.jpg">
    </div>
  </div>
</div>