<div class="contactPage">
  <div class ='frill'>
    <img src="./images/titlefrill.png">
    <h4 class='frill-title'>Hello</h4>
  </div>
  <div class="faIcons">  
    <a href="mailto:shalmali.padgaokar@gmail.com" target ="_blank"><i class="fa fa-envelope fa-2x" ></i></a>  

    <a href="https://www.linkedin.com/in/shalmali-padgaokar-99a570b" target ="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>

    <a href="https://github.com/Shalmalidp" target ="_blank"><i class="fa fa-github-square fa-2x"></i></a>

    <a href="https://twitter.com/ShalmaliDp" target ="_blank"><i class="fa fa-twitter-square fa-2x"> </i></a>    
  </div>
</div>
<hr>