<div class='workPage'>
<div class ='frill'>
  <img src="./images/titlefrill.png">
  <h4 class='frill-title'>Work</h4>
</div>

<div class="faIcons">  
  <a href="mailto:shalmalidalvi@hotmail.com" target ="_blank"><i class="fa fa-envelope fa-2x" ></i></a>  

  <a href="https://www.linkedin.com/in/shalmali-padgaokar-99a570b" target ="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>


  <a href="https://github.com/Shalmalidp" target ="_blank"><i class="fa fa-github-square fa-2x"></i></a>


  <a href="https://twitter.com/ShalmaliDp" target ="_blank"><i class="fa fa-twitter-square fa-2x"> </i></a>    
</div>
<hr>

<!-- COMMENTED SINCE PARSE DATA BASE RETIRED ALTERNATE BELOW -->
<!-- <ul>
  <div class="allDetails">
    <li class = 'mylist' ng-repeat='project in vm.projects'>
      <h5>{{project.name}}</h5>
      <div class='projectImg'>
        <img ng-src="{{project.image}}">  
      </div>
      <div class='projectInfo'>
        <label id='l1'>{{project.Description}}</label>
        <label id='l2'>{{project.Skills}}</label>
      </div>
        <div class="btn"> 
          <a href="{{project.github}}" target ="_blank"><button id='b1'>CODE</button></a>
          <a href="{{project.surgeurl}}" target ="_blank"><button id='b2'>LIVE</button></a>  
        </div>
    </li>

  </div>
</ul> -->

<ul>
  <div class="allDetails">
    <li class = 'mylist'>
      <h5>Localize</h5>
      <div class='projectImg'>
        <img ng-src= ../images/localize.png>  
      </div>
      <div class='projectInfo'>
        <label id='l1'>{{project.Description}}</label>
        <label id='l2'>{{project.Skills}}</label>
      </div>
        <div class="btn"> 
          <a href="{{project.github}}" target ="_blank"><button id='b1'>CODE</button></a>
          <a href="{{project.surgeurl}}" target ="_blank"><button id='b2'>LIVE</button></a>  
        </div>
    </li>

    <li class = 'mylist'>
      <h5>Curry and Cream</h5>
      <div class='projectImg'>
        <img ng-src= ../images/curry&cream.png>  
      </div>
      <div class='projectInfo'>
        <label id='l1'>{{project.Description}}</label>
        <label id='l2'>{{project.Skills}}</label>
      </div>
        <div class="btn"> 
          <a href="{{project.github}}" target ="_blank"><button id='b1'>CODE</button></a>
          <a href="{{project.surgeurl}}" target ="_blank"><button id='b2'>LIVE</button></a>  
        </div>
    </li>

    <li class = 'mylist'>
      <h5>Bombay Talkies</h5>
      <div class='projectImg'>
        <img ng-src= ../images/BombayTalkies.png>  
      </div>
      <div class='projectInfo'>
        <label id='l1'>{{project.Description}}</label>
        <label id='l2'>{{project.Skills}}</label>
      </div>
        <div class="btn"> 
          <a href="{{project.github}}" target ="_blank"><button id='b1'>CODE</button></a>
          <a href="{{project.surgeurl}}" target ="_blank"><button id='b2'>LIVE</button></a>  
        </div>
    </li>
    <li class = 'mylist'>
      <h5>Bulls & Bears</h5>
      <div class='projectImg'>
        <img ng-src= ../images/Bulls&Bears.png>  
      </div>
      <div class='projectInfo'>
        <label id='l1'>{{project.Description}}</label>
        <label id='l2'>{{project.Skills}}</label>
      </div>
        <div class="btn"> 
          <a href="{{project.github}}" target ="_blank"><button id='b1'>CODE</button></a>
          <a href="{{project.surgeurl}}" target ="_blank"><button id='b2'>LIVE</button></a>  
        </div>
    </li>
    <li class = 'mylist'>
      <h5>Etsy Page</h5>
      <div class='projectImg'>
        <img ng-src= ../images/EtsyPage.png>  
      </div>
      <div class='projectInfo'>
        <label id='l1'>{{project.Description}}</label>
        <label id='l2'>{{project.Skills}}</label>
      </div>
        <div class="btn"> 
          <a href="{{project.github}}" target ="_blank"><button id='b1'>CODE</button></a>
          <a href="{{project.surgeurl}}" target ="_blank"><button id='b2'>LIVE</button></a>  
        </div>
    </li>
    <li class = 'mylist'>
      <h5>Skinny Ties</h5>
      <div class='projectImg'>
        <img ng-src= ../images/SkinnyTies.png>  
      </div>
      <div class='projectInfo'>
        <label id='l1'>{{project.Description}}</label>
        <label id='l2'>{{project.Skills}}</label>
      </div>
        <div class="btn"> 
          <a href="{{project.github}}" target ="_blank"><button id='b1'>CODE</button></a>
          <a href="{{project.surgeurl}}" target ="_blank"><button id='b2'>LIVE</button></a>  
        </div>
    </li>
    <li class = 'mylist'>
      <h5>Contact List</h5>
      <div class='projectImg'>
        <img ng-src= ../images/contactlist.png>  
      </div>
      <div class='projectInfo'>
        <label id='l1'>{{project.Description}}</label>
        <label id='l2'>{{project.Skills}}</label>
      </div>
        <div class="btn"> 
          <a href="{{project.github}}" target ="_blank"><button id='b1'>CODE</button></a>
          <a href="{{project.surgeurl}}" target ="_blank"><button id='b2'>LIVE</button></a>  
        </div>
    </li>
    <li class = 'mylist'>
      <h5>Simple Pricing</h5>
      <div class='projectImg'>
        <img ng-src= ../images/SimplePricing.png>  
      </div>
      <div class='projectInfo'>
        <label id='l1'>{{project.Description}}</label>
        <label id='l2'>{{project.Skills}}</label>
      </div>
        <div class="btn"> 
          <a href="{{project.github}}" target ="_blank"><button id='b1'>CODE</button></a>
          <a href="{{project.surgeurl}}" target ="_blank"><button id='b2'>LIVE</button></a>  
        </div>
    </li>    

  </div>
</ul>

</div>