<div class='workPage'>
<div class ='frill'>
  <img src="./images/titlefrill.png">
  <h4 class='frill-title'>Work</h4>
</div>

<div class="faIcons">  
  <a href="mailto:shalmalidalvi@hotmail.com" target ="_blank"><i class="fa fa-envelope fa-2x" ></i></a>  

  <a href="https://www.linkedin.com/in/shalmali-padgaokar-99a570b" target ="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>


  <a href="https://github.com/Shalmalidp" target ="_blank"><i class="fa fa-github-square fa-2x"></i></a>


  <a href="https://twitter.com/ShalmaliDp" target ="_blank"><i class="fa fa-twitter-square fa-2x"> </i></a>    
</div>
<hr>

<!-- COMMENTED SINCE PARSE DATA BASE RETIRED ALTERNATE BELOW -->
<!-- <ul>
  <div class="allDetails">
    <li class = 'mylist' ng-repeat='project in vm.projects'>
      <h5>{{project.name}}</h5>
      <div class='projectImg'>
        <img ng-src="{{project.image}}">  
      </div>
      <div class='projectInfo'>
        <label id='l1'>{{project.Description}}</label>
        <label id='l2'>{{project.Skills}}</label>
      </div>
        <div class="btn"> 
          <a href="{{project.github}}" target ="_blank"><button id='b1'>CODE</button></a>
          <a href="{{project.surgeurl}}" target ="_blank"><button id='b2'>LIVE</button></a>  
        </div>
    </li>

  </div>
</ul> -->
<div class="workMain">
<ul>
  <div class="allDetails">
    <li class = 'mylist'>
      <h5>Localize</h5>
      <div class='projectImg'>
        <img ng-src= "../images/Localize.png" alt="Localize Site">  
      </div>
      <div class='projectInfo'>
        <label id='l1'>Created a web app for new folks in town to familiarize with what the new city has to offer</label>
          <span class="success label">HTML5</span>
          <span class="warning label">CSS3</span>
          <span class='secondary label'>Javascript</span>
          <span class="alert label">Angular</span>
          <span class="info label">Foundation6</span>
        </div>
        <div class="btn"> 
          <a href="https://github.com/LocalizeTIY/Localize" target ="_blank"><button id='b1'>CODE</button></a>
          <a href="http://localize.surge.sh" target ="_blank"><button id='b2'>LIVE</button></a>  
      </div>
    </li>
  

    <li class = 'mylist'>
      <h5>Curry and Cream</h5>
      <div class='projectImg'>
        <img ng-src= "../images/Curry&Cream.png" alt="Curry and Cream Site">  
      </div>
      <div class='projectInfo'>
        <label id='l1'>A CRUD Recipe Collection application</label>
        <span class="success label">HTML5</span>
        <span class="warning label">CSS3</span>
        <span class='secondary label'>Javascript</span>
        <span class="alert label">Angular</span>
        <span class="info label">Foundation6</span>
      </div>
      <div class="btn"> 
          <a href="http://curryandcream.surge.sh"  target ="_blank"><button id='b1'>CODE</button></a>
          <a href="http://curryandcream.surge.sh" target ="_blank"><button id='b2'>LIVE</button></a>  
      </div>
    </li>

    <li class = 'mylist'>
      <h5>Contact List</h5>
      <div class='projectImg'>
        <img ng-src= "../images/contactlist.png" alt="Contact List site">  
      </div>
      <div class='projectInfo'>
        <label id='l1'>Simple CR application using backbone.js and Reactjs</label>
        <span class="success label">HTML5</span>
        <span class="warning label">CSS3</span>
        <span class='secondary label'>Javascript</span>
        <span class="alert label">Backbone</span>
        <span class="info label">Foundation6</span>
        <span class="alert label">React</span>
      </div>
      <div class="btn"> 
          <a href="https://github.com/Shalmalidp/TheIronYard" target ="_blank"><button id='b1'>CODE</button></a>
          <a href="http://theironyard-assignment20-react.surge.sh" target ="_blank"><button id='b2'>LIVE</button></a>  
      </div>
    </li>

    <li class = 'mylist'>
      <h5>Bombay Talkies</h5>
      <div class='projectImg'>
        <img ng-src= "../images/BombayTalkies.png" alt="Bombay Talkies Site">  
      </div>
      <div class='projectInfo'>
        <label id='l1'>A CRU web application for Creating, Reading and Updating records.</label>
        <span class="success label">HTML5</span>
        <span class="warning label">CSS3</span>
        <span class='secondary label'>Javascript</span>
        <span class="alert label">ReactJs</span>
        <span class="info label">Foundation6</span>
      </div>
      <div class="btn"> 
        <a href="https://github.com/Shalmalidp/BombayTalkies" target ="_blank"><button id='b1'>CODE</button></a>
        <a href="http://bombaytalkies.surge.sh" target ="_blank"><button id='b2'>LIVE</button></a>  
      </div>
    </li>

    <li class = 'mylist'>
      <h5>Bulls & Bears</h5>
      <div class='projectImg'>
        <img ng-src= "../images/Bulls&Bears.png" alt= "bulls & Bears Site">  
      </div>
      <div class='projectInfo'>
        <label id='l1'>A Simple webpage to Display data from Parse Database using Backbone</label>
        <span class="success label">HTML5</span>
        <span class="warning label">CSS3</span>
        <span class='secondary label'>Javascript</span>
        <span class="alert label">Backbone</span>
        <span class="info label">jQuery</span>
      </div>
      <div class="btn"> 
        <a href="https://github.com/Shalmalidp/Backbone-Parse" target ="_blank"><button id='b1'>CODE</button></a>
        <a href="http://bearsandbulls-parse-assigment-shalmali.surge.sh/" target ="_blank"><button id='b2'>LIVE</button></a>  
      </div>
    </li>

    <li class = 'mylist'>
      <h5>Etsy Page</h5>
      <div class='projectImg'>
        <img ng-src= "../images/EtsyPage.png" atl ="Etsy Page Clone">  
      </div>
      <div class='projectInfo'>
        <label id='l1'>Cloning Etsy page when a search string is put in </label>
        <span class="success label">HTML5</span>
        <span class='secondary label'>Javascript</span>
        <span class="warning label">CSS3</span>
      </div>
        <div class="btn"> 
          <a href="https://github.com/Shalmalidp/etsypages-11NM" target ="_blank"><button id='b1'>CODE</button></a>
          <a href="http://shalmalidp.github.io/etsypages-11NM/" target ="_blank"><button id='b2'>LIVE</button></a>  
        </div>
    </li>

    <li class = 'mylist'>
      <h5>Skinny Ties</h5>
      <div class='projectImg'>
        <img ng-src= "../images/SkinnyTies.png" alt ="Skinny Ties Site">  
      </div>
      <div class='projectInfo'>
        <label id='l1'>Matched the design of website to pixel perfection</label>
        <span class="success label">HTML5</span>
        <span class="warning label">CSS3</span>
      </div>
      <div class="btn"> 
        <a href="https://github.com/Shalmalidp/hardmode92415" target ="_blank"><button id='b1'>CODE</button></a>
        <a href="http://skinny-ties-hardmode-92415.surge.sh " target ="_blank"><button id='b2'>LIVE</button></a>  
      </div>
    </li>

    <li class = 'mylist'>
      <h5>Simple Pricing</h5>
      <div class='projectImg'>
        <img ng-src= "../images/SimplePricing.png" alt="Simple Pricing site">  
      </div>
      <div class='projectInfo'>
        <label id='l1'>Pixel Perfect Layout</label>
        <span class="success label">HTML5</span>
        <span class="warning label">CSS3</span>
      </div>
      <div class="btn"> 
        <a href="https://github.com/Shalmalidp/92415NormalMode" target ="_blank"><button id='b1'>CODE</button></a>
        <a href="http://pixel-perfect-pricing-layout.surge.sh" target ="_blank"><button id='b2'>LIVE</button></a>  
      </div>
    </li>    
  </div>
</div>
</ul>
</div>

</div>