<div class='resumePage'>
<div class ='frill'>
  <img src="./images/titlefrill.png">
  <h4 class='frill-title'>R&#233;sum&#233;</h4>
</div>
<div class="faIcons">  
  <a href="mailto:shalmalidalvi@hotmail.com" target ="_blank"><i class="fa fa-envelope fa-2x" ></i></a>  

  <a href="https://www.linkedin.com/in/shalmali-padgaokar-99a570b" target ="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>

<!--  <i class="fa fa-phone-square fa-2x">
  <a href="">(423) 580-1318</a>
</i> -->

  <a href="https://github.com/Shalmalidp" target ="_blank"><i class="fa fa-github-square fa-2x"></i></a>


  <a href="https://twitter.com/ShalmaliDp" target ="_blank"><i class="fa fa-twitter-square fa-2x"> </i></a>    
</div>
<hr>
<!-- <embed src="./images/ShalmaliPadgaokar_Resume.pdf" width="800" height="800" type='application/pdf'> -->
<div class="resumeContainer">
  <div class="pdfFile">
    <a href="./images/ShalmaliPadgaokar_Resume2.pdf" download="ShalmaliPadgaokar_Resume2.pdf">
      <button id="b3">
        <i class="fa fa-download">
          PDF Version
        </i>
      </button>
    </a>
  </div>


  <div class="skillSet">
    <div class="skills">
      <h5 id='mySkills' class='skillHeader'>My Skills</h5>
      <div class="first">
        <img ng-src='../images/html5.png' alt='html5'>
        <img ng-src='../images/css3.png' alt='css3'>
        <img ng-src='../images/js.png' alt='js'>
        <img ng-src='../images/jquery.png' alt='jquery'>
        <img ng-src='../images/angular.png' alt='angular'>
        <img ng-src='../images/react.png' alt='react'>
      </div>
      <div class="second">
        <img ng-src='../images/backbone.png' alt='backbone'>
        <img ng-src='../images/bourbon.png' alt='bourbon'>
        <img ng-src='../images/sass.png' alt='sass'>
        <img ng-src='../images/foundation.png' alt='foundation'>
      </div>
    </div>
  </div>
  <!-- <img class ='resume' src="./images/ShalmaliPadgaokar_Resume1.png"> -->
</div>
</div>